<ion-header class="ion-no-border">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <ion-icon color="primary" name="barbell-outline" size="large" ></ion-icon>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification-button new-notification" shape="round">
        <ion-icon color="primary" name="notifications" size="small" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <section class="profile">
    <ion-item color="medium">
      <ion-avatar slot="start">
        <img alt="profile avatar" src="https://picsum.photos/200" />
      </ion-avatar>
      <ion-label>
        <h1>Samuel Alves</h1>
        <ion-text color="secondary">Nível Roxo</ion-text>
      </ion-label>
    </ion-item>
    <div class="profile-buttons">
      <button color="primary" fill="clear" shape="round" size="small">
        <ion-icon color="primary" name="accessibility" slot="start" ></ion-icon>
        <ion-label color="primary">MEU CORPO</ion-label>
      </button>
      <button color="primary" fill="clear" shape="round" size="small">
        <ion-icon color="primary" name="trophy" slot="start"></ion-icon>
        <ion-label color="primary">OBJETIVOS E CONQUISTAS</ion-label>
      </button>
    </div>
  </section>

  <section class="ion-padding">
    <ion-label class="section-title">
      <h3>PERSONAL ONLINE</h3>
      <ion-icon color="primary" name="add-circle-outline"></ion-icon>
    </ion-label>

    <swiper-container>
      <swiper-slide>
        <div class="custom-card">
          <img alt="Alt" src="https://picsum.photos/200" />
          <ion-button class="button-new-action" fill="clear">
            <ion-icon color="light" name="add-circle-outline"></ion-icon>
            <ion-label class="ion-text-start" color="light">NOVO <br> TREINO</ion-label>
          </ion-button>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="custom-card">
          <img alt="Alt" src="https://picsum.photos/200" />
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="custom-card">
          <img alt="Alt" src="https://picsum.photos/200" />
        </div>
      </swiper-slide>
    </swiper-container>
  </section>

  <section class="ion-padding">
    <ion-label class="section-title">
      <h3>PROGRAMAS</h3>
      <ion-badge color="primary">NOVO</ion-badge>
    </ion-label>

    <swiper-container>
      <swiper-slide>
        <div class="custom-card">
          <img alt="Alt" src="https://picsum.photos/200" />
          <div class="card-info">
            <ion-button fill="clear" size="small">
              continuar treinando
            </ion-button>
            <h4>LEVANTAMENTO DE PESO</h4>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="custom-card">
          <img alt="Alt" src="https://picsum.photos/200" />
        </div>
      </swiper-slide>

      <swiper-slide>
        <div class="custom-card">
          <img alt="Alt" src="https://picsum.photos/200" />
        </div>
      </swiper-slide>
    </swiper-container>
  </section>
</ion-content>
